.header {
    width: 100%;
    font-size: 50px;
    color: White;
    margin-bottom: 10px;
    font-family: 'Kranky', cursive;
  }
  
  .title {
    float: left;
    
  }
  
  .scores {
    float: right;
  }
  